<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>use for scan key auth </string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSCameraUsageDescription</key>
	<string>create dial backgroud</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record PCM Data</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Use for transport with jl devices</string>
</dict>
</plist>
